body {
  background-color: #f2efe7;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.body-contents {
  width: max-content;
  height: fit-content;
  text-align: center;
}
