.profile {
  width: fit-content;
  padding-right: 10px;
  display: inline-block;
}

.profile-child {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  text-align: left;
  margin-inline: 3px;
}

p {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  display: inline-block;
  margin-inline: 15px;
}

body {
  background-color: #f2efe7;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.body-contents {
  width: max-content;
  height: fit-content;
  text-align: center;
}
